<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.app.test2.user.mapper.User2Mapper">

	<select id="getUsers" resultType="com.my.app.test2.user.domain.User2">
		select user_id, user_name from user
	</select>
	
	<insert id="insertUser" parameterType="com.my.app.test2.user.domain.User2">
		insert into user (user_id, user_name) values(#{userId}, #{userName})
	</insert>
	
</mapper>